numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
xgboost==2.0.3
lifelines==0.29.0
shap==0.44.1
streamlit==1.35.0
plotly==5.22.0
matplotlib==3.8.4
seaborn==0.13.2
joblib==1.4.2
scipy==1.13.0
imbalanced-learn==0.12.3
coverage==7.3.4